version: '3.8'

services:
  mysql:
    image: mysql:8.0
    container_name: carvo_mysql
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: ${DB_PASSWORD}
      MYSQL_DATABASE: ${DB_NAME}
      MYSQL_USER: ${DB_USER}
      MYSQL_PASSWORD: ${DB_PASSWORD}
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  redis:
    image: redis:alpine
    container_name: carvo_redis
    restart: always
    ports:
      - "6379:6379"

volumes:
  mysql_data:
